<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628410690020-rv45cnkd4e4lf1kl83qc8tdik1vbp2rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628410690020-rv45cnkd4e4lf1kl83qc8tdik1vbp2rf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>628410690020-ii91jahhb4bel4lnlar1nkbqlnpqkark.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYH2OIN0q2svTctHfL1iG7yDsCI0g_RfE</string>
	<key>GCM_SENDER_ID</key>
	<string>628410690020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>in.dimigo.ios</string>
	<key>PROJECT_ID</key>
	<string>dimigoin-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>dimigoin-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628410690020:ios:c6d929944c5a684f317ff1</string>
	<key>DATABASE_URL</key>
	<string>https://dimigoin-firebase.firebaseio.com</string>
</dict>
</plist>